.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.left-part {
  @media screen and (max-width: 1199px) {
    @include margin-auto;
    text-align: center;
  }
}

.footer__logo {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
  font-family: raleway, monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: var(--accent-text-color);
}
.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__address-link {
  color: var(--white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.71;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.footer__mail-link,
.footer__telephone-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.central-part {
  @media screen and (max-width: 1199px) {
    @include margin-auto;
    text-align: center;
  }
}

.central-part__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.central-part__social-networks-list {
  display: flex;
}

.central-part__social-networks-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.central-part__social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.right-part {
  @media screen and (max-width: 1199px) {
    @include margin-auto;
    text-align: center;
  }
}

.right-part__title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.right-part__subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    gap: 12px;
  }
}

.right-part__input-field {
  display: block;
  height: 50px;
  padding-top: 15px;
  padding-right: auto;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;

  &:focus {
    border: 1px solid var(--accent-text-color);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  // margin-left: 12px;
  background-color: var(--accent-text-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: var(--accent-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}

.subscribe-btn__icon {
  margin-left: 10px;
}
