body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
